/* MEDIA QUERY */
/* XL LARGE LAPTOPS : 1280px-1536px */
@media (max-width: 84rem){
    /* 1340/16px=83.75 */
    /* 1344/16px=84 */

    html{
        font-size: 56.25%;
    }
}

/* LG SMALL LAPTOPS : 1024px-1280px */
@media (max-width: 76rem){
    /* 1207/16px=75.44 */
    /* 1216/16px=76 */

    html{
        font-size: 50%;
    }

    .combo-collection-container{
        gap: 2rem;
    }

    
      
}

/* LG SMALL LAPTOPS : 1024px-1280px */
@media (max-width: 67rem){
    /* 1,072/16px=67 */
    

    html{
        font-size: 43.75%;
    }

    .footer-container{
        justify-content: space-evenly;
    }

    
}


@media (max-width: 59rem){
    /* 944/16px=59 */
    
    html{
        font-size: 37.5%;
    }

    .show-menu-btn{
    display: block;
    cursor: pointer;
    color: #000000;
    font-size: 4rem;
}

.nav-bar-container{
    position: relative;
    width: 100%;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-nav-bar{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
    flex-direction: column;
    background-color: #ffffff;
    padding: 3rem 0;
    font-size: 4rem;
}

.sub-nav-bar a{
    font-size: 4rem;
}

.logo{
    font-size: 4rem;
}

#check:checked ~ .sub-nav-bar{
    display: flex;
}

.shop{
    display: none;
}

.logo{
    font-size: 5rem;
}

.hero-paragraph{
    font-size: 3rem;
    text-align: center;
}


    .hero-container{
        flex-direction: column;
        justify-content: center;
        max-width: 150rem;
    }

    .hero-img-container{
        max-width: 50rem;
        width: 90%;
    }

    .hero-heading{
        font-size: 8rem;
    }

    .hero-text-container{
        display: flex;
        flex-direction: column;
        justify-content: center ;
        align-items: center;
    }

    .brandshowcase-container{
        max-width: 150rem;
        grid-template-columns: 1fr        
    }

    .showcase-p{
    font-size: 2.5rem;
}

    .combo-collection-container{
        flex-direction: column;
        max-width: 150rem;
         align-items: center;
        justify-content: center;
    }

    .combo-collection-paragraph{
    font-size: 3rem;
}

    .image-section{
        align-items: center;
        flex-direction: column;
       max-width: 150rem
       
    }

    .img-h4{
        font-size: 4rem;
    }

    .img-paragraph-2{
    margin-top: 1rem;
    font-size: 3rem;
}


.shop-img{
    font-size: 4rem;
    margin-top: 3rem;
    max-width: 25rem;
}
   
.customer-review-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 2rem;
    
}

.customer-review-card{
    width: 100%;
    padding-bottom: 2rem;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: auto;
}

    .customer-review-background h3{
        text-align: center;
    }

    .review-paragraph{
    font-size: 2.5rem;
}

    .footer-container{
        align-items: start;
        max-width: 150rem;
        width: 100%;
        margin: 0 auto;
        gap: 5rem;
        padding: 6rem;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr   
    }
}

@media (max-width: 36rem){
      /* 576/16px=59 */
     
 html{
 font-size: 31.25%; 
    }

.show-menu-btn{
 display: block;
cursor: pointer;
color: #000000;
font-size: 4rem;
}

.nav-bar-container{
position: relative;
width: 100%;
}

.nav-bar{
display: flex;
justify-content: space-between;
align-items: center;
}

.sub-nav-bar{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
    flex-direction: column;
    background-color: #ffffff;
    padding: 3rem 0;
    font-size: 4rem;
}

.sub-nav-bar a{
    font-size: 4rem;
}

.logo{
    font-size: 4rem;
}

#check:checked ~ .sub-nav-bar{
    display: flex;
}

.shop{
    display: none;
}

.logo{
    font-size: 5rem;
}
    .hero-text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-container{
        max-width: 100rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%
    }

      .hero-img-container{
        max-width: 32rem;
        width: 100%;
        object-fit: contain;
    }

    .hero-heading{
        font-size: 10rem;
    }

    .hero-paragraph{
        font-size: 3.5rem;
        text-align: center;
    }

    .brandshowcase-container{
        padding: 0 4;
        margin: 0 auto;
        max-width: 104rem;
        width: 100%;
        grid-template-columns: 1fr    
    }

    .display-img{
    width: 100%;
    max-width: 60rem;
    height: auto;
    object-fit: cover; 

}

.display-cta{
max-width: 15rem;
 width: auto;
 margin-top: 0.5rem;
 }

.display-p{
font-size: 4rem;
 }

.showcase-p{
    font-size: 3.7rem;
}
    
.combo-collection-container{
    margin: 0 auto;
    align-items: center;
    width: 95%;
    max-width: 100rem
}

.combo-collection-img{
    width: 100%;
    height: auto;
  margin-bottom: 1rem;
  max-width: 400px;
  margin: 0 auto  1rem;
}

.combo-collection-paragraph{
    font-size: 3rem;
      text-align: center;
}

.combo-collection-heading{
    font-size: 5rem;
}



.img-paragraph{
    margin-top: 1rem;
    font-size: 8rem;
}

.img-h4{
    font-size: 5rem;
}

.img-paragraph-2{
    font-size: 5rem;
    text-align: center;
}

.shop-img{
    font-size: 4rem;
    margin-top: 3rem;
    max-width: 20rem;
}


.customer-review-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 2rem;
    
}

.customer-review-card{
    width: 100%;
    padding-bottom: 2rem;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: auto;
}


    .customer-review-img{
    width: 100%;
    /* max-width: 50rem; */
    height: auto;
    object-fit: cover;
    margin-bottom: 2.5rem;
}

.star{
    width: 4rem;
    height: auto;
   
}

.star-rating{
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.review-paragraph{
    font-size: 4rem;
    text-align: left;
}

.review-name{
    font-size: 6rem;
}

.footer-container{
        align-items: start;
        max-width: 100rem;
        width: 100%;
        margin: 0 auto;
        gap: 5rem;
        padding: 6rem;
        display: grid;
        grid-template-columns: 1fr 1fr   
    }

}

@media (max-width: 28rem){
      /* 408/16px=25.5 */
     
 html{
font-size: 25%;
 }

.show-menu-btn{
display: block;
cursor: pointer;
color: #000000;
font-size: 6rem;
}

.nav-bar-container{
position: relative;
 width: 100%;
}

.nav-bar{
display: flex;
justify-content: space-between;
align-items: center;
}

.sub-nav-bar{
display: none;
 flex-direction: column;
position: absolute;
top: 100%;
left: 0;
 width: 100%;
z-index: 1000;
flex-direction: column;
 background-color: #ffffff;
padding: 3rem 0;
font-size: 4rem;  
}

.sub-nav-bar a{
font-size: 4rem;
}

.logo{
font-size: 4rem;
}

#check:checked ~ .sub-nav-bar{
display: flex;
}

.shop{
display: none;
}

.hero-heading{
 font-size: 10rem;
   
}

.hero-paragraph{
font-size: 4rem;
 text-align: center;
 }

.hero-btn a{
 max-width: 35rem;
 width: 100%;
 font-size: 3.5rem;
margin-top: 0.5rem;
}

.display-cta{
max-width: 15rem;
 width: auto;
 margin-top: 0.5rem;
 }

.display-p{
font-size: 2rem;
 }

 .combo-collection-paragraph{
    font-size: 4rem;
    text-align: center;
}

 .combo-collection-img{
width: 100%;
height: auto;
margin-bottom: 1rem;
max-width: 45rem;
margin: 0 auto;
}

.img-h4{
    font-size: 4rem;
}

.img-paragraph-2{
    font-size: 4rem;
    text-align: center;
}
.shop-img{
    font-size: 3rem;
    margin-top: 3rem;
    max-width: 20rem;
}

.customer-review-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 2rem;
    
}

.customer-review-card{
    width: 100%;
    padding-bottom: 2rem;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: auto;
}


    .customer-review-img{
    width: 100%;
    /* max-width: 50rem; */
    height: auto;
    object-fit: cover;
    margin-bottom: 2.5rem;
}

.star{
    width: 4rem;
    height: auto;
   
}

.star-rating{
    display: flex;
    justify-content: center;
    gap: 4rem;
    width: 100%;
}

.review-paragraph{
    font-size: 4rem;
    text-align: left;
}

.review-name{
    font-size: 5rem;
}



}


